@charset "UTF-8";
/*Bleu : #428bca*/
*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

ul {
  padding: 0;
  margin: 0; }

figure {
  padding: 0;
  margin: 0; }

html {
  width: 100%;
  height: 100%;
  font-size: 0.625em;
  /* > 1em = 10px */
  font-size: calc(1em * 0.625);
  /*pour résoudre des bugs IE*/ }

body {
  width: 100%;
  min-height: 100%;
  font-size: 1.6em;
  /* 1.6em equiv 16px selon le viewport*/
  line-height: 1.4;
  /* default value */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #666;
  background-color: #fafafa;
  padding-top: 50px; }

main {
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  box-shadow: 0 0 0.5em #eeeeee;
  background-color: #eee;
  padding-top: 1em;
  margin-bottom: 1em; }

.breadcrumb {
  border: 1px solid #ddd;
  border-radius: 0.4em;
  box-shadow: 0 0 .3em #ddd;
  color: #4e504f;
  margin-bottom: 1em; }

.title-container {
  border: 1px solid #ddd;
  border-radius: 0.4em;
  box-shadow: 0 0 .3em #ddd;
  background-color: #f5f5f5;
  padding: 1em 1.5em;
  margin-bottom: 1em; }
  .title-container .bring-out {
    color: #d55f37;
    font-weight: bold; }

h1 {
  font-size: 2.1em;
  font-weight: 300;
  margin-bottom: .5em; }

h2 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: .3px;
  text-transform: uppercase; }

#tabs-selector li.active a {
  background-color: #fafafa;
  font-weight: bold; }

#tabs-container {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-top: none;
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: 1em; }

#main-navbar {
  background-color: #333;
  border: none;
  color: #eee;
  box-shadow: 0 0 0.5em #666; }
  #main-navbar .navbar-brand {
    transition: color 1s; }
  #main-navbar .navbar-brand:hover {
    color: #fcfcfc;
    transition: color .8s; }
  #main-navbar .navbar-toggle {
    font-size: 1.2em;
    padding: .3em .5em;
    margin: .3em;
    background-color: rgba(252, 252, 252, 0.1);
    transition: background-color .5s; }
  #main-navbar .navbar-toggle:hover {
    background-color: rgba(252, 252, 252, 0.3);
    transition: background-color .3s; }
  #main-navbar .navbar-nav a {
    transition: color 1s, background-color 1.5s; }
  #main-navbar .navbar-nav a:hover {
    color: #fcfcfc;
    background-color: rgba(213, 95, 55, 0.3);
    transition: color .5s, background-color .8s; }

footer {
  background-color: #333;
  color: #eee;
  text-align: center;
  padding: .5em;
  box-shadow: 0 0 0.5em #666; }
  footer #socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .5em;
    margin-bottom: 1em; }
  footer #socials > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1.8em;
    height: 1.8em;
    border: 0.1em solid #eee;
    border-radius: 50%;
    font-size: 1.5em;
    background-color: #666;
    color: #eee;
    margin: .2em;
    transition: color 1s, background-color 1.5s; }
  footer #socials > a:hover {
    background-color: #eee;
    color: #666;
    transition: color .5s, background-color .8s; }
  footer .qu-brand {
    color: #d55f37;
    font-weight: bold; }
  footer #footer-info {
    font-size: .6em;
    color: #666;
    margin: 1em; }

#batch-bloc {
  display: none; }

input[type=file] {
  display: inline-block;
  overflow: hidden;
  margin: 0; }

select:focus,
input[type=text]:focus,
input[type=search]:focus {
  border-color: rgba(213, 95, 55, 0.4) !important;
  outline-color: rgba(213, 95, 55, 0.4) !important;
  box-shadow: 0 0 2px rgba(213, 95, 55, 0.1) inset, 0 0 8px rgba(213, 95, 55, 0.6) !important; }

.form-group {
  padding: 0;
  margin-bottom: 2em; }
  .form-group p {
    margin: .3em; }

.submit-group {
  display: flex;
  justify-content: center; }

input + span {
  padding-right: 30px; }

/*
input:invalid+span:after {
    position: absolute; 
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}
*/
input:invalid {
  border: 1px solid red; }

input:required {
  border: 1px solid #ccc; }

.s-btn {
  outline: none;
  border-radius: 0.4em;
  background-color: #d55f37;
  border: 1px solid #122b40;
  box-shadow: 0 0 2px #122b40;
  padding: .5em 1em;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s ease-in-out; }

.s-btn span {
  white-space: nowrap;
  transition: opacity 0.4s ease-in-out; }

.s-btn:hover {
  background-color: #122b40; }

.s-btn:active {
  background-color: #029295; }

.s-btn.loading {
  width: 50px;
  border-radius: 60px;
  background-color: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-name: loading;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 0.2s; }

.s-btn.loading span {
  opacity: 0; }

.s-btn.a4.loading {
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation-name: loading4;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite; }

@keyframes loading4 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.mycharts {
  border: 1px solid #ddd;
  border-radius: 0.4em;
  box-shadow: 0 0 .3em #ddd;
  overflow: hidden;
  margin-bottom: 1em; }
  .mycharts .mycharts-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: .5em; }
    .mycharts .mycharts-heading .mycharts-toggle-btn {
      align-self: flex-start;
      margin-left: .5em; }
    .mycharts .mycharts-heading .mycharts-toggle-btn:focus {
      outline: none; }
  .mycharts .mycharts-body {
    background-color: #fff;
    padding: 1em; }
  .mycharts ul {
    margin-left: 1em; }
    .mycharts ul li {
      margin-bottom: .8em; }

h3 {
  font-size: 1.1em;
  font-weight: 600;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  h3 i {
    font-size: 1.3em;
    margin-left: .3em;
    margin-right: .5em; }

.table-responsive {
  padding: .4em; }

.dataTables_wrapper {
  font-size: .8em; }
  .dataTables_wrapper .paginate_button > a {
    color: inherit; }
  .dataTables_wrapper .paginate_button.active > a {
    color: #fafafa;
    background-color: #d55f37;
    border-color: rgba(213, 95, 55, 0.5); }
  .dataTables_wrapper .paginate_button > a:focus {
    border-color: #122b40;
    outline-color: #122b40; }

#pb_analyses {
  border: 1px solid #ddd;
  border-radius: 0.4em;
  box-shadow: 0 0 .3em #ddd;
  color: #000 !important;
  text-align: center;
  background-color: #d55f37; }

.bloc-jauges {
  display: flex;
  flex-direction: column; }

#rectangleNeedle, #textCloud {
  display: inline-block; }

#rectangleNeedle {
  width: 100%; }

#textCloud {
  width: 35%;
  vertical-align: bottom; }

/*# sourceMappingURL=met_style.css.map */
